@charset "UTF-8";
$bkp: 768px;
$imgWidth: 400px;
$imgHeight: 400px;
@mixin fx_center {
  display: flex;
  justify-content: center;
  align-items: center;
};
@mixin maxW-100_H-auto {
  max-width: 100%;
  width: 100%;
  max-height: auto;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  overflow-x: hidden;
  @media only screen and (max-width: $bkp) {
    padding: 5px;
    overflow-x: hidden;
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  border-bottom: 1px solid #999;
  width: auto;
  max-width: 400px;
  text-align: center;
  display: block;
  margin: 0 auto 20px;
  @media only screen and (max-width: $bkp) {
    font-size: 1.4rem;
  }
}

.wrap {
  margin: auto;
  max-width: $imgWidth + 40px;
  width: 100%;
  background-color: #eee;
  @media only screen and (max-width: $bkp) {
    @include maxW-100_H-auto;
  }
}

img:not(.main):hover {
  opacity: 0.8;
}

.gallery {
  padding: 10px;
  max-width: $imgWidth;
  width: 100%;
  // width: calc(100% + 40px);
  width: 100%;
  height: auto;
  @include fx_center;
  flex-direction: column;
  @media only screen and (max-width: $bkp) {
    @include fx_center;
  }

  .mainImage {
    max-width: $imgWidth - 12px;
    max-height: $imgHeight - 12px;
    width: auto;
    height: auto;

    @media only screen and (max-width: $bkp) {}

    img {
      max-width: $imgWidth - 16px;
      max-height: $imgHeight - 16px;
      width: 100%;
      margin: auto;
      border: 1px solid #999;
      padding: 4px;
      @media only screen and (max-width: $bkp) {
        max-width: $imgWidth;
        max-height: $imgHeight;
        width: 100%;
        height: auto;
      }
    }
  }

  .imageList {
    @media only screen and (max-width: $bkp) {
      overflow-x: scroll;
    }

    ul {
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: auto;
      @media only screen and (max-width: $bkp) {
        display: table;
        table-layout: fixed;
        min-width: 300%;
        margin-top: 10px;
      }

      li {
        max-width: calc((100% / 3) - 0px);
        @media only screen and (max-width: $bkp) {
          display: table-cell;
        }

        img {
          max-width: calc(100% - 2px);
          height: auto;
          border: 1px solid #999;
          padding: 3px;
          @media only screen and (max-width: $bkp) {
            min-width: 60px;
            max-width: 160px;
            width: calc(100% - 20px);
          }
        }
      }
    }
  }
}
